<body style="background-image: url(https://i.pinimg.com/236x/e6/20/1b/e6201bb817daef96a7112b59f21764e7.jpg);">
  <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/CAMI(3).png" id="icon" alt="User Icon" />
      <h1>Iniciar Sesion</h1>
    </div>

    <!-- Login Form -->
    <form [formGroup]="formularioLogin">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="@email" formControlName='username'>
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña" formControlName='password'>
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="iniciarSesion()">
    </form>


  </div>
</div>
</body>

