<footer class="py-3 mt-3" class="text-center text-lg-start ">

  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">

      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <img src="../../../assets/WhatsApp Image 2022-11-03 at 11.56.35.jpeg" alt="" class="img">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                  <h6 class="text-uppercase fw-bold mb-4">Articulos</h6>
                <th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
        
                  <p>
                    <a routerLink="aceites" class="text">Aceites</a>
                  </p>
                  <p>
                    <a routerLink="frutos-secos'" class="text">Frutos Secos</a>
                  </p>
                  <p>
                    <a routerLink="harinas" class="text">Harinas</a>
                  </p>
                  <p>
                    <a routerLink="leche" class="text ">Leche</a>
                  </p>
                </th>

                <th scope="row">
                  <p>
                    <a routerLink="mantecas"class="text">Mantecas</a>
                  </p>

                  <p>
                    <a routerLink="shampoo" class="text">Shampoo</a>
                  </p>

                  <p>
                    <a routerLink="yerba" class="text">Yerba</a>
                  </p>
                </th>


            </tbody>
          </table>

        </div>


        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Links
          </h6>
          <p>
            <a routerLink="inicio" class="text-reset">Inicio</a>
          </p>
          <p>
            <a routerLink="contacto" class="text-reset">Contactenos</a>
          </p>
          <p>
            <a routerLink="producto" class="text-reset">Articulos</a>
          </p>

        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p><i class="fas fa-home me-3" class="pi pi-directions"> 9 de Julio 668, Cipolletti RN </i></p>
          <p>
            <i class="fas fa-envelope me-3" class="pi pi-instagram"></i>
            madretierra
          </p>
          <p><i class="fas fa-phone me-3" class="pi pi-phone"></i> + 155 299 477 8746</p>

        </div>
      </div>

    </div>
  </section>
</footer>