<footer class="py-3 mt-3" class="text-center text-lg-start ">

    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
  
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
     
    </section>
    
    <section class="">
      <div class="container text-center text-md-start mt-5">
       
        <div class="row mt-3">
          
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <img src="../../../assets/WhatsApp Image 2022-11-03 at 11.56.35.jpeg" alt="" class="img">
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Mujer</a>
            </p>
            <p>
              <a href="#!" class="text-reset">hombre</a>
            </p>
           
          </div>
  
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
            <h6 class="text-uppercase fw-bold mb-4">
              Links
            </h6>
            <p>
              <a routerLink="inicio" class="text-reset">Inicio</a>
            </p>
            <p>
              <a routerLink="contactenos" class="text-reset">Contactenos</a>
            </p>
            <p>
              <a routerLink="productos" class="text-reset">Productos</a>
            </p>
      
          </div>
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3"></i> 9 de Julio 668, Cipolletti RN</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              madretierra
            </p>
            <p><i class="fas fa-phone me-3" ></i> + 155 299 477 8746</p>
            
          </div>
  
        </div>
  
      </div>
    </section>
  </footer>